{% extends "base.html" %} 
{% load bootstrap3 %}
{% block header %} {% endblock header %} {% block content %}
<style>
  b {
    color: #333;
  }
  .buttonbar {
    align-items: center;
    text-align: center;
    margin: 40px;
  }
  .buttonitem {
    background-color: #337ab7;
    width: 120px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #337ab7;
    box-shadow: 5px 3px 3px grey;
    color: white;
  }
  hr {
    border: none;
    border-top: 2px solid #ddd;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
  }
</style>
<div style="margin: 20px 280px 20px 300px">
  <p style="font-size: 20px"><b>Log in to your account.</b></p>
  <hr style="color: rgb(128, 128, 128)" />
</div>
<form method="post" action="{% url 'users:login' %}" class="form" style="margin: 20px 280px 20px 300px">
  {% csrf_token %} {% bootstrap_form form %}
  {% buttons %} 
    <button name="submit" class="btn btn-primary">Sign in</button> 
  {% endbuttons %}
  <input type="hidden" name="next" value="{% url 'myapp:index' %}" />
</form>
<div style="margin: 80px 280px 20px 300px">
  <hr style="color: rgb(128, 128, 128)" />
  <p style="font-size: 20px"><b>Don't have an account? Contact the <a href="{% url 'users:help' %}">admins</a> to create one.</b></p>
</div>
{% endblock content %}
