{% extends "base.html" %}

{% block content %}
  <p>This is a list of all grades from course {{ course }}</p>
  <ul>
    {% for grade in grades %}
      <li>{{ grade }} <a href="{% url 'myapp:regrade' grade.id %}">Regrade this</a></li>
      {% if grade.passed %}
      <p style="color:green">{{ grade.bar_chart }}</p>
      {% else %}
      <p style="color:red">{{ grade.bar_chart }}</p>
      {% endif %}
    {% empty %}
      <li>No students have enrolled in this course.</li>
    {% endfor %}

    {% for student in ungraded %}
    <li>{{ student }}: Ungraded 
      {% if student.gender == 'M' %}
        <a href="{% url 'myapp:givegrade' course.id student.id %}">Grade Him</a>        
      {% else %}
        <a href="{% url 'myapp:givegrade' course.id student.id %}">Grade Her</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <p> 
    For convenience, you may use this <a href="{% url 'myapp:gradeall' course.id %}">link</a> 
    to grade all students in one form.
  </p>
{% endblock content %}
